<!DOCTYPE html>
<html lang="en">
<head>
<title>DND</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
  <h2>Dungeons & Dragons</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Clases</a></li>
      <li><a href="#">Races</a></li>
      <li><a href="#">Characters</a></li>
    </ul>
  </nav>

  <article>

  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
