<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
  <header>
    <h2>Dungeons & Dragons</h2>
  </header>
  <nav>
    <ul>
      <li><a href="../welcome/index">Clases</a></li>
      <li><a href="#">Races</a></li>
      <li><a href="#">Gear</a></li>
    </ul>
  </nav>
<section>
  <article>
    <div class="gallery">
      <a target="_blank" href="https://www.dndbeyond.com/characters/classes/ranger">
        <%= image_tag "ranger1.jpg" %>
      </a>
      <div class="desc">Imperial Ranger</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.dndbeyond.com/characters/classes/ranger">
        <%= image_tag "ranger2.jpg" %>
      </a>
      <div class="desc">Wood Ranger</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.dndbeyond.com/characters/classes/ranger">
        <%= image_tag "ranger3.jpg" %>
      </a>
      <div class="desc">Elf Ranger</div>
    </div>

  </article>


</section>
<footer>
  <p>Footer</p>
</footer>

</body>
</html>
